# Python cache
__pycache__/
**/__pycache__/

# macOS metadata
__MACOSX/
.DS_Store

# Specific files
nyc-yellow-taxi-trip-data.zip
testing.ipynb
catboost_info


data/source/yellow_tripdata_2015-01.csv
data/source/yellow_tripdata_2016-01.csv
data/source/yellow_tripdata_2016-02.csv
data/source/yellow_tripdata_2016-03.csv